:root {
  --primary-font: 'Montserrat';
  --secondary-font: 'Seymour One';
  --primary-font-size: 16px;
  --primary-font-weight: 500;
  --secondary-font-weight: 400;

  --bg-color: #84a178;
  --bg-yellow: #d9d9d9;
  --first-yellow: #f8d24e;
  --secondary-yellow: #efd478;
  --first-green: #0a8817;
  --secondary-green: #aec6a5;
  --orange: #d6936d;
  --grey: #ababab;
  --primary-text-color: #fcfcfc;
  --primary-black: #131313;
  --secondary-black: #000000;
  --reviews-photo-container: #6E6E6E;

  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
