<section class="about" id="how-made">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__wrapper">
      <div class="about__circle">
        <picture>
          <source
            srcset="
              ./images/desc/about/desc-how-cow.png    1x,
              ./images/desc/about/desc-how-cow-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/about/tab-how-cow.png    1x,
              ./images/tablet/about/tab-how-cow-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/about/mob-how-cow.png    1x,
              ./images/mobile/about/mob-how-cow-2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="about__img"
            src="./images/mobile/about/mob-how-cow.png"
            alt="коровка ест травку"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about__info">
        <p class="about__text first">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text second">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text third">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button type="button" class="modal-btn about__btn" data-read-modal-open>
          Read more
        </button>
      </div>
    </div>
  </div>
</section>
