<div class="gallery-contacts">
  <!-- GALLERY -->
  
  <section class="gallery">
    <h2 class="visually-hidden"> Gallery</h2>
    <div class="gallery__container container ">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desc/gallery/desc-brooke-lark.jpg    1x,
            ./images/desc/gallery/desc-brooke-lark-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery/tab-brooke-lark.jpg    1x,
            ./images/tablet/gallery/tab-brooke-lark-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/mobile/gallery/mob-brooke-lark.jpg    1x,
            ./images/mobile/gallery/mob-brooke-lark-2x.jpg 2x
          "
        />
        <img
          class="gallery__photo"
          src="./images/desc/gallery/desc-brooke-lark.jpg "
          alt="photo icecream"
          loading="lazy"
        />
      </picture>
    </div>
  </section>
  <!-- GALLERY -->
  <!-- REVIEWS -->
  <section class="reviews container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="one-time">
      <div class="reviews__gallery">
        <article class="reviews__photo">
          <h3 class="visually-hidden">Emily</h3>
          <div class="reviews__photo-container">
            <img
              class="reviews__photo-reviewer"
              srcset="./images/reviews1@2x.jpg 2x"
              src="./images/reviews1@1x.jpg"
              alt="reviewer's photo"
              loading="lazy"
              width="85"
            />
          </div>
        </article>
        <div class="reviews__text-container">
          <p class="revievs__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <h3 class="reviews__name">Emily, Los Angeles</h3>
      </div>
      <div class="reviews__gallery">
        <article class="reviews__photo">
          <h3 class="visually-hidden">Diana</h3>
          <div class="reviews__photo-container">
            <img
              class="reviews__photo-reviewer"
              srcset="./images/reviews2@2x.jpg 2x"
              src="./images/reviews2@1x.jpg"
              alt="reviewer's photo"
              loading="lazy"
              width="85"
            />
          </div>
        </article>
        <div class="reviews__text-container">
          <p class="revievs__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <h3 class="reviews__name">Diana, Chicago</h3>
      </div>
      <div class="reviews__gallery">
        <article class="reviews__photo">
          <h3 class="visually-hidden">Sam</h3>
          <div class="reviews__photo-container">
            <img
              class="reviews__photo-reviewer"
              srcset="./images/reviews3@2x.jpg 2x"
              src="./images/reviews3@1x.jpg"
              alt="reviewer's photo"
              loading="lazy"
              width="85"
            />
          </div>
        </article>
        <div class="reviews__text-container">
          <p class="revievs__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <h3 class="reviews__name">Sam, Los Angeles</h3>
      </div>
      <div class="reviews__gallery">
        <article class="reviews__photo">
          <h3 class="visually-hidden">Bryan</h3>
          <div class="reviews__photo-container">
            <img
              class="reviews__photo-reviewer"
              srcset="./images/reviews4@2x.jpg 2x"
              src="./images/reviews4@1x.jpg"
              alt="reviewer's photo"
              loading="lazy"
              width="85"
            />
          </div>
        </article>
        <div class="reviews__text-container">
          <p class="revievs__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <h3 class="reviews__name">Bryan, New-York</h3>
      </div>
    </div>
  </section>
  <!-- REVIEWS -->
  <!-- CONTACTS -->
  <section class="contacts section" id="contacts">
    <div class="container contacts-container">
      <h2 class="section-title visually-hidden">CONTACTS</h2>
      <div class="contacts-list__thumb">
        <ul class="contacts-list list">
          <li class="contacts-list__item">
            <div class="wrapper">
              <p class="contacts-list__subunit">CAFE</p>
              <p class="contacts-list__text contacts-list__info">Chicago</p>
              <a
                class="contacts-list__link contacts-list__text link"
                href="https://goo.gl/maps/DrHVjpQKjsVehQw76"
                target="_blank"
                rel="noopener noreferrer"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </div>
            <div class="wrapper">
              <p class="contacts-list__text">Monday - Friday</p>
              <p
                class="contacts-list__text contacts-list__text-time contacts-list__info"
              >
                06:00 AM - 10:00 PM
              </p>
              <p class="contacts-list__text">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">
                08:00 AM - 16:00 PM
              </p>
            </div>

            <ul class="contacts-info-list">
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
          <li class="contacts-list__item">
            <div class="wrapper">
              <p
                class="contacts-list__subunit contacts-list__subunit-foodtruck"
              >
                FOODTRUCK
              </p>
              <p class="contacts-list__text contacts-list__info">Los Angeles</p>
              <a
                class="contacts-list__text contacts-list__link link"
                href="https://goo.gl/maps/59iper6AbRh6LtMK9"
                target="_blank"
                rel="noopener noreferrer"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </div>
            <div class="wrapper">
              <p class="contacts-list__text">Monday - Friday</p>
              <p
                class="contacts-list__text contacts-list__text-time contacts-list__info"
              >
                06:00 AM - 10:00 PM
              </p>
              <p class="contacts-list__text">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">
                08:00 AM - 16:00 PM
              </p>
            </div>

            <ul class="contacts-info-list">
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
          <li class="contacts-list__item">
            <div class="wrapper">
              <p class="contacts-list__subunit">CAFE</p>
              <p class="contacts-list__text contacts-list__info">New York</p>
              <a
                class="contacts-list__text contacts-list__link link"
                href="https://goo.gl/maps/aPLZK26GpTbqGQ7r6"
                target="_blank"
                rel="noopener noreferrer"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </div>
            <div class="wrapper">
              <p class="contacts-list__text">Monday - Friday</p>
              <p
                class="contacts-list__text contacts-list__text-time contacts-list__info"
              >
                06:00 AM - 10:00 PM
              </p>
              <p class="contacts-list__text">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">
                08:00 AM - 16:00 PM
              </p>
            </div>

            <ul class="contacts-info-list">
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-info-list__item">
                <a
                  class="contacts-list__text contacts-info-list__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <div class="btn-wrapper">
          <button
            class="modal-btn button"
            type="button"
            data-locations-modal-open
          >
            Our Locations
          </button>
          <button
            class="btn-franchise button"
            type="button"
            data-franchise-modal-open
          >
            Franchise
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- CONTACTS-END -->
</div>
