<section class="product" id="products">
  <p class="product__lable">100% natural</p>
  <h2 class="product__title">products</h2>
  <div class="container product__container">
    <ul class="product__set list">
      <li class="product__list product__list--icecream">
        <div class="product__bg product__bg--green">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/desc/products/ice-cream-desk.png   1x,
              ./images/desc/products/ice-cream-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/tablet/products/ice-cream-tablet.png    1x,
              ./images/tablet/products/ice-cream-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
              ./images/mobile/products/ice-cream-mob.png    1x,
              ./images/mobile/products/ice-cream-mob@2x.png 2x
              "
            />
            <img
            class="product__img"
            src="./images/mobile/products/ice-cream-mob.png"
            alt="ice-cream"
            loading="lazy"
          />
          </picture>
          
        </div>

        <div class="product__description">
          <h3 class="product__item">ice cream</h3>
          <div class="product__type">
            <p class="product__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button type="button" class="btn-icon">
              <svg class="product__icon">
                <use
                  href="./images/icons.svg#icon-arrow-prod"
                  aria-hidden="true"
                  width="40"
                  height="16"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="product__list product__list--coffee">
        <div class="product__bg product__bg--yellow">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/desc/products/coffee-desk.png   1x,
              ./images/desc/products/coffee-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/tablet/products/coffee-tablet.png    1x,
              ./images/tablet/products/coffee-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
              ./images/mobile/products/coffee-mob.png    1x,
              ./images/mobile/products/coffee-mob@2x.png 2x
              "
            />
            <img
            class="product__img"
            src="./images/mobile/products/coffee-mob.png"
            alt="ice-coffee"
            loading="lazy"
          />
          </picture>
        </div>
        <div class="product__description">
          <h3 class="product__item">ice coffee</h3>
          <div class="product__type">
            <p class="product__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button type="button" class="btn-icon">
              <svg class="product__icon">
                <use
                  href="./images/icons.svg#icon-arrow-prod"
                  aria-hidden="true"
                  width="40"
                  height="16"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="product__list product__list--milkshake">
        <div class="product__bg product__bg--red">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/desc/products/milkshake-desk.png  1x,
              ./images/desc/products/milkshake-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/tablet/products/milkshake-tablet.png   1x,
              ./images/tablet/products/milkshake-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
              ./images/mobile/products/milkshake-mob.png    1x,
              ./images/mobile/products/milkshake-mob@2x.png  2x
              "
            />
            <img
            class="product__img"
            src="./images/mobile/products/milkshake-mob.png"
            alt="milkshake"
            loading="lazy"
          />
          </picture>

        </div>
        <div class="product__description">
          <h3 class="product__item">milkshakes</h3>
          <div class="product__type">
            <p class="product__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button type="button" class="btn-icon">
              <svg class="product__icon">
                <use
                  href="./images/icons.svg#icon-arrow-prod"
                  aria-hidden="true"
                  width="40"
                  height="16"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>