@media screen and (max-width: 767px) {
  .footer {
    padding-top: 39px;
  }

  .footer__double-title-big {
    display: block;

    max-width: 150px;
    @include font($fs: 34px, $fw: 700, $lh: 41px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;

    padding-top: 16px;
  }

  .footer__double-title {
    max-width: 294px;
    @include font($fs: 18px, $fw: 700, $lh: 22px);
    text-transform: uppercase;
    color: #fcfcfc;

    margin-bottom: 42px;
  }

  .social__list {
    display: flex;
    justify-content: flex-end;
    gap: 28px;

    margin-bottom: 38px;
  }

  .contact-phone {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    margin-bottom: 40px;
  }

  .contact-phone__slogan {
    @include font($fs: 12px, $fw: 700, $lh: 22px);
    color: var(--primary-black);
  }

  .contact-phone__text {
    @include font($fs: 12px, $fw: 700, $lh: 22px);
    color: var(--primary-text-color);
  }

  .footer-text {
    max-width: 160px;
    @include font($fs: 14px, $fw: 700, $lh: 21px);
    text-align: center;
    margin: 20px auto 0 auto;
    padding-bottom: 50px;

    color: #7a7a7a;
  }

  .footer-text__wrapper {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-top: 40px;
  }

  .footer__double-title {
    max-width: 352px;
    @include font($fs: 26px, $fw: 700, $lh: 32px);
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }

  .footer__double-title-big {
    display: block;
    @include font($fs: 48px, $fw: 700, $lh: 59px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    padding-top: 9px;
  }

  .footer__thumb {
    display: flex;
  }

  .social__list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    margin-bottom: 32px;
  }

  .footer__contacts-wrapper {
    display: block;
    margin-left: auto;
    margin-top: 75px;
  }

  .contact-phone {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .contact-phone__slogan {
    @include font($fs: 14px, $fw: 700, $lh: 26px);
    color: #000000;
  }

  .contact-phone__text {
    @include font($fs: 14px, $fw: 700, $lh: 26px);
    color: #ffffff;
  }

  .footer-text {
    display: block;
    @include font($fs: 14px, $fw: 700, $lh: 26px);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;

    color: #7a7a7a;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 120px;
  }.footer {
  background-color: var(--bg-color);
}

  .footer__double-title {
    max-width: 514px;
    @include font($fs: 30px, $fw: 400, $lh: 37px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 54px;
  }

  .footer__double-title-big {
    @include font($fs: 58px, $fw: 700, $lh: 71px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fcfcfc;
    padding-top: 12px;
  }

  .footer__thumb {
    display: flex;
    justify-content: space-between;
  }

  .social__list {
    display: flex;
    justify-content: flex-end;
    gap: 28px;

    margin-bottom: 40px;
  }

  .contact-phone {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .contact-phone__slogan {
    @include font($fs: 16px, $fw: 700, $lh: 30px);
    color: var(--primary-black);
  }

  .contact-phone__text {
    @include font($fs: 16px, $fw: 700, $lh: 30px);
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-text {
    display: block;
    @include font($fs: 12px, $fw: 700, $lh: 22px);
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 11px;

    color: #7a7a7a;
  }
}
.footer {
  position: relative;
  background-color: var(--bg-color);
}

.social__list-icon {
  fill: var(--bg-color);
}

.social__list-icon {
  transition: background-color var(--transition-animation);

  &:hover,
  &:focus {
    fill: #ffffff;
  }
}

.footer::after {
  content: '';
      width: 100%;
      position: absolute;
      bottom: 120px;
       height: 1px;
       background-color: #e1e1e1;
       display: block;

      @media screen and (min-width: 768px) {
bottom: 53px
      }

            @media screen and (min-width: 1200px) {
              bottom: 45px
            }
}