.product { 
    background-image: url(../images/mobile/bg-ice-cream-mob-1.png);
    z-index: 0;
    background-size: contain;

    

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 82px;
        background-size: cover;

    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
        background-size: cover;

    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/desc/bg-ice-cream-desk.png);
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
        background-image: url(../images/desc/bg-ice-cream-desk@2x.png);
    }

    ;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 768px;
        background-image: url(../images/tablet/bg-ice-cream-tablet.png);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: url(../images/tablet/bg-ice-cream-tablet@2x.png);
    }

}

.product__set {

    display: block;
    width: 100%;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 303px;
        gap: 32px;
        display: flex;
        justify-content: center;
    }
}

.product__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.06em;
    font-family: var(--secondary-font);
    color: black;

    @media screen and (max-width: 330px) {
            font-size: 30px;
    
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 34px;

    }

    @media screen and (max-width: 1200px) {

        font-size: 36px;
       
    }

}

.product__lable {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: black;
    font-family: var(--primary-font);
    font-weight: 800;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 22px;

    }

    @media screen and (max-width: 1200px) {

        font-size: 30px;

    }

}



.product__img {
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    bottom: 11px;
    position: absolute;
    z-index: 50;

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     width: 199px;

    // }

    @media screen and (min-width: 1200px) {
        width: 300px;
        bottom: 17px;

    }


}

.product__bg {
    background-color: rgba(156, 190, 143, 0.7);
    z-index: 20;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 8px 30px 0 rgba(10, 136, 23, 0.25);
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    bottom: 108px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 196px;
        width: 199px;
        bottom: 120px;
        margin-left: 12px;
        margin-right: 12px;

    }

    @media screen and (min-width: 1200px) {
        height: 300px;
        width: 300px;
        margin-left: 33px;
        margin-right: 34px;
        bottom: 183px;
    }
}

.product__bg--yellow {
    background-color: rgba(239, 212, 120, 1);
    box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
}

.product__bg--red {
    background-color: rgba(214, 147, 109, 1);
    box-shadow: 0 8px 30px 0 rgba(213, 117, 63, 0.7);
}



.product__description {
    position: absolute;
    top: 123px;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 106px;
        
    }

    @media screen and (min-width: 1200px) {
        top: 166px;
        
    }

}

.product__item {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 22px;
        margin-bottom: 40px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        margin-bottom: 65px;
    }

}

.product__text {
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-align: center;
    color: black;
    padding: 0 40px;
    
    margin-bottom: 66px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 0 26px;
        margin-bottom: 30px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        padding: 0 63px;
        
    }


}

.product__list {
    border-radius: 24px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 172px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 200px;
        width: calc((100% - 2*16px)/3);
        height: 428px;

    }

    @media screen and (min-width: 1200px) {
        height: 535px;
        width: calc((100% - 2*32px)/3);
        margin-top: 0;

    }
}

.product__list:first-child {
    @media screen and (max-width: 767px) {
        margin-top: 148px;

    }
}


.container {
    margin-left: auto;
    margin-right: auto;



}

.product__list--icecream {
    background-color: rgba(174, 198, 165, 1);

}

.product__list--coffee {
    background-color: rgba(239, 212, 120, 1);
}

.product__list--milkshake {
    background-color: rgba(214, 147, 109, 1);
}

.btn-icon {
    border: none;
    height: 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 34px;
    display: block;
    position: relative;
    background-color: inherit;
    
}

.btn-icon:hover {
    transform: scale(1.25);
}

.btn-icon:focus {
    transform: scale(1.5);
}

.product__icon {
    width: 40px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: black;
    }


.product__type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 250px;
    }
    @media screen and (min-width: 1200px) {
        height: 230px;
    }
    
}